/* Custom styles that aren't covered by Tailwind */

#plant_image {
    width:30%;
    height: 35%;
}

.plant-purchased:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    right: 40%;
    border-top: 2px solid black;
    transform: translateY(-50%);
}
